body {
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    padding: 3%;
}

.background-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
    background-image: url('../background-images/1.jpg');
    opacity: 0.6;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
  
.blurred-box {
    width: 40rem;
    height: 26.5rem;
    background: inherit;
    position: relative;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    overflow: scroll;
    padding: 10px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}

.row {
    margin-bottom: 0;
}

#email-row {
    margin-top: 0;
}

.button {
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    margin: auto;
    margin-left: 43%;
}

.button:hover {
    background-color: #e4dfcf;
}

@media screen and (max-width: 375px) {
    .blurred-box {
        width: 20rem;
    }

    .input-field {
        font-size: 0.5em;
    }

    .button {
        margin-left: 35%;
    }
}