* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    padding: 3%;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    line-height: 2.5em;
    margin-top: 30px;
    color: #ddd;
}

.overlay-content h1 {
    font-size: 3em;
}

.overlay-content p {
    font-size: 1.5em;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
    color: #ddd;
}
  
@media screen and (max-width: 768px) {
    .overlay-content h1 {
        font-size: 2em;
    }
    
    .overlay-content p {
        font-size: 1em;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 375px) {
    .overlay-content {
        width: 75%;
        margin: 0 auto;
    }
}

.top {
    font-family: 'Inconsolata', monospace;
    height: 7em;
}

h2 {
    color: black;
    display: inline;
    margin-left: 5%;
    margin-right: 0;
    padding-bottom: 5px;
    border-bottom: 2px black solid;
    transition: 0.5s;
    cursor: pointer;   
}

h2 a {
    color: black;
    text-decoration: none; 
}

h2:hover {
    font-size: 30px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    width: 20%;
    float: right;
    margin-right: 5%;
    -webkit-font-smoothing: antialiased; 
}

.dropdown-content {
    display: none;
    position: relative;
    background: inherit;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 3%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.menu-icon {
    float: right;
    cursor: pointer;       
    width: 35px;
    height: 35px;
    right: -75%;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
}

.lines {
    width: 35px;
    height: 35px;
}

.line1 {
    width: 4px;
    height: 4px;
    margin-left: 16px;
    margin-top: 16px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    transition: 0.4s;
}

.line2 {
    width: 4px;
    height: 4px;
    margin-left: 16px;
    margin-top: 16px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 1;
    transition: 0.4s;
}

.line1.change {
    height: 33px;
    width: 2px;
    border-radius: 0;
    transform: rotate(-45deg) translate(-9px, 6px);
    margin-left: 19px;
    margin-top: -10px;
}

.line2.change {
    height: 33px;
    width: 2px;
    border-radius: 0;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    margin-left: 16px;
    margin-top: 13px;
}

/* <------------ end of top (name and dropdown menu) and "About" overlay --------------> */

.container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 5%;
    position: absolute;
}

.left {
    margin-right: 1em;
}

.catalog {
    max-width: 6em;
}

.year-19, .year-18 {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.year-19:hover, .year-18:hover {
    background-color: #ccc;
}

.list-19, .list-18 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: 0.2s ease;
}

.list-19>p, .list-18>p {
    cursor: pointer;
}

.artwork{
    display: none;
}

img {
    transition: 0.3s;
}

/* img:hover {
    transition to bigger size
} */
