body {
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    padding: 3%;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 8%;
    position: absolute;
    left: 0;
}

.left {
    margin-right: 1em;
}

.right {
    padding: 0 3%;
    align-content: center;
}

.catalog {
    width: 6em;
}

.year-19, .year-18 {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1em;
}

.year-19:hover, .year-18:hover {
    background-color: #ccc;
}

.list-19, .list-18 {
    padding: 0 1em;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: 0.2s ease;
}

.catalog p {
    cursor: pointer;
    text-align: center;
}

.title {
    text-align: center;
    margin-bottom: 3%;
    font-style: italic;
}

.artwork{
    display: none;
}

img {
    margin: 1em;
    cursor: pointer;
    transition: 0.3s;
    max-width: 33%;
    max-height: 33%;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

img:hover {
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
    img {
        max-width: 50%;
        max-height: 50%;
    }
}

@media screen and (max-width: 375px) {
    .container {
        flex-direction: column;
    }

    .left {
        margin-right: 0;
    }

    .catalog {
        width: 100%;
        margin: auto;
        margin-bottom: 3em;
        display: flex;
        justify-content: space-evenly;
        font-size: 0.6em;
    }

    .list-wrapper {
        width: inherit;
        margin: .5em;
    }

    .title {
        font-size: .75em;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
        width: inherit;
        margin-top: 0;
        margin-left: 0;
    }
    
    .year-19, .year-18 {
        font-size: 0.75em;
    }

}
