body {
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    padding: 3%;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 5%;
    position: absolute;
}

.left {
    margin-right: 1em;
}

.catalog {
    max-width: 6em;
}

.year-19, .year-18 {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.year-19:hover, .year-18:hover {
    background-color: #ccc;
}

.list-19, .list-18 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: 0.2s ease;
}

.list-19>p, .list-18>p {
    cursor: pointer;
}

.artwork{
    display: none;
}

img {
    transition: 0.3s;
}

/* img:hover {
    transition to bigger size
} */
