* {
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
    height: 100vh;
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    padding: 3%;
    transition: 2s;
}  

.bottom {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
}

.title {
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    text-align: right;
    cursor: pointer;
    margin-right: 5%;
    margin-bottom: 3%;
    transition: 0.5s;
    text-shadow: 2px 2px 8px #ddd;
}

.title:hover {
    font-size: 20px;
}


@media screen and (max-width: 768px) {
    .title {
        text-align: center;
        margin-right: 0;
    }
}

@media screen and (max-width: 375px) {
    .bottom {
        display: none;
    }
}